.rsslider {

	&__image {

		width: 800px;
		height: 600px;
		border: 1px solid black;

	}

	&__prev {

		width: 20px;
		height: 20px;
		position: absolute;
		position: 50% 90%;
		background-color: red;
		content: "<";
	}


	&__next {

		width: 20px;
		height: 20px;
		position: absolute;
		position: 50% 90%;
		background-color: red;
		content: ">";
		
	}

}
